services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: chat-with-documents:latest
    ports:
      - "80:8501"
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env
    stdin_open: true
    tty: true
